<div class="form_send_data">
    <div class="send_data">
        <form action="" method="post">
            <label for="search_code" class="label_code">Enter customer code</label>
            <input type="text" name="search_code" id="search_code" class="search_code">
            <button name="btn_send_code" id="btn_send_code" class="btn_send_code">Check Code</button>
        </form>
    </div>
    <div class="show_info">
        <div class="info_customer">
            <div class="code"><p><span>Code:</span> TS1123</p></div>
            <div class="fullname"><p><span>Full Name:</span> DANG NGOC HIEN</p></div>
            <div class="yeah_birth"><p><span>Yeah Of Birth:</span> 1999</p></div>
        </div>
        <div class="time">
            <div class="warranty_time"><p><span>Warranty time:</span> 31/12/2027</p></div>
            <div class="status_warranty"><p><span>Status Warranty:</span> Còn Bảo Hành</p></div>
            <div class="branch"><p><span>Branch:</span> Nha Khoa Dang Luu</p></div>
        </div>
        <div class="bracnh">
            <div class="service"><p><span>Service:</span> Rang Su</p></div>
            <div class="note"><p><span>Note:</span> Da Hoan Thanh</p></div>
        </div>
    </div>
</div>